<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">
      <i class="bi bi-flower2"></i>
      Plant Information
      <div class="spinner-border spinner-border-sm text-primary" role="status" id="plantinfo-spinner">
      </div>
    </h6>
    <center>
      <img id="plantinfo-img" />
    </center>
    <table class="table table-hover">
      <tbody id="plantinfo-table">
      </tbody>
    </table>
  </div>
</div>