<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">
      <i class="bi bi-flower2"></i>
      Plant Information
      <div
        class="spinner-border spinner-border-sm text-primary"
        role="status"
        id="plantinfo-spinner"
      >
      </div>
    </h6>
    <center>
      <img id="plantinfo-img" />
    </center>
    <table class="table table-hover">
      <tbody id="plantinfo-table">
      </tbody>
    </table>
  </div>
</div>

<script>
  fetch("/api/houseplant/id").then(res => res.json())
  .then(({img, ...info}) => {
    document.getElementById("plantinfo-img").src = img
    const tbody = document.getElementById("plantinfo-table")

    for(const [key, value] of Object.entries(info)){
      let tr = document.createElement("tr")
      let th = document.createElement("th")
      let td = document.createElement("td")

      tbody.appendChild(tr)
      tr.appendChild(th)
      tr.appendChild(td)

      th.innerText = key
      td.innerText = value
    }
  document.getElementById("plantinfo-spinner").remove()
  }).catch(error => {
    console.error(error)
  })
</script>