<div class="card">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">
            <i class="bi bi-clipboard-data"></i>
            Insight
            <div class="spinner-border spinner-border-sm text-primary" role="status" id="plantinfo-spinner">
            </div>
        </h6>
        <table class="table table-hover">
            <tbody id="moisture-table">

            </tbody>
            <tbody id="light-table">

            </tbody>
        </table>
    </div>
</div>