<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">
      <i class="bi bi-flower2"></i>
      Plant Information
    </h6>
    <center>
      <img id="plantinfo-img" src={{device.plant.img}} />
    </center>
    <table class="table table-hover">
      <tbody id="plantinfo-table">
        {{#each device.plant.info}}
          <tr>
            <th>
              {{@key}}
            </th>
            <td>
              {{this}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>