<div class="card">
	<div class="card-body">
		<div style="display:table;width:100%;height:30px">
			<div style="width: 30%;display:table-cell;">
				<h6 class="card-subtitle mb-2 text-muted">
					<i class="bi bi-graph-up"></i>
					Chart
					<div class="spinner-border spinner-border-sm text-primary" role="status" id="charts-spinner">
					</div>
				</h6>
			</div>
			<div style="width: 30%;display:table-cell;text-align:end">
				<div id="chart-btn-group" class="btn-group" role="group" aria-label="Basic radio toggle button group">
					<input type="radio" class="btn-check" name="btnradiochart" id="btnradiochart1" autocomplete="off" checked />
					<label class="btn btn-outline-primary btn-sm chart-toggle-lable" for="btnradiochart1" value="light">
						Light
					</label>

					<input type="radio" class="btn-check" name="btnradiochart" id="btnradiochart2" autocomplete="off" />
					<label class="btn btn-outline-primary btn-sm chart-toggle-lable" for="btnradiochart2" value="moisture">
						Moisture
					</label>
				</div>
			</div>
		</div>
		<canvas id="light-chart"></canvas>
		<canvas id="moisture-chart" style="display:none;"></canvas>
	</div>
</div>