<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          {{> card-info title="Light level" body="--" subtitle="Updated --:--" icon="bi bi-brightness-high"}}
        </div>
        <div class="col">
          {{> card-info title="Moisture level" body="--" subtitle="Updated --:--" icon="bi bi-droplet"}}
        </div>
      </div>
      {{> card-plantinfo }}
    </div>
    <div class="col-7">
      {{> card-charts }}
      {{> card-info title="Insights" icon="bi bi-clipboard-data" cid="card-insights"}}
    </div>
  </div>
</div>