<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          {{> card-info title="Light level" body="--" subtitle="Updated --:--" icon="bi bi-brightness-high"}}
        </div>
        <div class="col">
          {{> card-info title="Moisture level" body="--" subtitle="Updated --:--" icon="bi bi-droplet"}}
        </div>
      </div>
      {{> card-plantinfo }}
    </div>
    <div class="col-7">
      {{> card-charts }}
      {{> card-insight }}
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
<script src="static/js/charts.js"></script>
<script src="static/js/plantInfo.js"></script>
<script src="static/js/insight.js"></script>
<script src="static/js/dashboard.js"></script>