<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>

<div class="container" style="width: 32rem;">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title" style="text-align: center;">
                Configure device
            </h5>
        </div>
        <div class="card-body">
            <center>
                <form class="row g-3" id="welcome-form" action="#" method="POST">
                    <div class="mb-3">
                        <select id="select-plant" name="plantId" class="selectpicker" title="Loading..."
                            data-live-search="true" data-width="75%" disabled required>
                        </select>
                    </div>
                    <div class="mb-3">
                        <button id="setup-btn" class="btn btn-primary" type="submit" disabled>
                            Continue
                        </button>
                    </div>
                </form>
            </center>
        </div>
    </div>
</div>

<script>
    const plantSelect = document.getElementById("select-plant")
    const deviceInput = document.getElementById("select-device")
    let plants;

    fetch("/api/houseplant/").then(r => r.json()).then(res => {
        plants = res;
        for (plant of res) {
            let option = $("<option></option>")
            let optionContainer = $("<div></div>")

            optionContainer.attr("class", "option-container")
            if (plant["Height at purchase"])
                optionContainer.text(`${plant["Latin name"]} (${plant["Height at purchase"].cm}cm)`)
            else
                optionContainer.text(`${plant["Latin name"]}`)

            option.attr('value', plant.id)
            option.attr('data-content', optionContainer.prop("outerHTML"))
            if (plant["Common name"])
                option.attr("data-tokens", plant["Common name"].join(" "))

            $("#select-plant").append(option)
        }
        $("#setup-btn").attr("disabled", false)
        $("#select-plant").attr("disabled", false)
        $("#select-plant").attr("title", "Select a plant")
        $("#select-plant").selectpicker("refresh")
    })


    document.getElementById("welcome-form").addEventListener("submit", (e) => {
        if (!deviceInput.value || !plantSelect.value)
            e.preventDefault();
    })
</script>